# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

# 虚拟环境
.venv/
venv/
env/

# 训练产物（权重 & 日志）
outputs/

# 可视化曲线（可按需注释掉，若希望追踪曲线则删除这三行）
assets/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# macOS
.DS_Store
.AppleDouble

# IDE
.vscode/
.idea/
*.swp
*.swo
